apiVersion: v1
kind: Secret
metadata:
  name: cloud-init-{{ name }}
  namespace: {{ namespace }}
stringData:
  userData: |-
    #cloud-config
    user: "{{ username }}"
    password: "{{ password }}"
    chpasswd: { expire: False }
    hostname: "{{ name }}"
    fqdn: "{{ name }}.{{ fqdn }}"
    manage_etc_hosts: true
    runcmd:
      - rpm -Uvh {{ ansible_env.FOREMAN_HOST }}/pub/katello-ca-consumer-latest.noarch.rpm
      - subscription-manager register --name="{{ name }}.{{ fqdn }}" --org="{{ host_organization | replace(' ', '_') }}" --activationkey="{{ activationkey }}"
