apiVersion: kubevirt.io/v1
kind: VirtualMachine
metadata:
  annotations:
    vm.kubevirt.io/validations: |
      [
        {
          "name": "minimal-required-memory",
          "path": "jsonpath::.spec.domain.memory.guest",
          "rule": "integer",
          "message": "This VM requires more memory.",
          "min": 1610612736
        }
      ]
  labels:
    app: {{ name }}
    vm.kubevirt.io/template: rhel8-server-small
    vm-kubevirt.io/template.revision: "1"
    vm-kubevirt.io/template.version: v0.32.2
  name: {{ name }}
  namespace: {{ namespace }}
spec:
  dataVolumeTemplates:
    - apiVersion: cdi.kubevirt.io/v1beta1
      kind: DataVolume
      metadata:
        name: {{ name }}
      spec:
        source:
          blank: {}
        storage:
          resources:
            requests:
              storage: {{ boot_image_size }}
  running: false               # VM will not auto-start; change to true if desired
  template:
    metadata:
      annotations:
        vm.kubevirt.io/flavor: small
        vm.kubevirt.io/os: {{ name }}
        vm.kubevirt.io/workload: server
      labels:
        kubevirt.io/domain: {{ name }}
        kubevirt.io/size: small
    spec:
      architecture: amd64
      domain:
        cpu:
          cores: {{ vm_cpus_cores }}
          sockets: {{ vm_cpus_sockets }}
          threads: {{ vm_cpus_threads }}
        memory:
          guest: {{ vm_memory_requests }}
        devices:
          disks:
          - name: rootdisk
            disk:
              bus: virtio
            bootOrder: 1
          interfaces:
          # default pod network interface
#          - name: default
#            model: virtio
#            masquerade: {}
#          - name: br-ex-network
#            model: virtio
#            bridge: {}
#            pciAddress: '0000:07:00.0'
          - name: {{ pxe_interface_name | split('/') | last }}
#          - name: br-isolated
            model: virtio
            bridge: {}
            pciAddress: "0000:01:00.0"
{% if net_attach_def | default([]) | length > 0 and interface_names | default([]) | length > 0 and (net_attach_def | length == interface_names | length) %}
          {% for i in range(net_attach_def | length) %}
- name: {{ interface_names[i] }}
            model: virtio
            bridge: {}
            pciAddress: "0000:{{ '%02x' % (i + 2) }}:00.0"
          {% endfor %}
          {% endif %}
###################################
{% set real_length = net_attach_def | default([]) | length %} 
          {% set count = real_length if real_length > 0 else 1 %}
- name: {{ app_interface_name | split('/') | last }}
#- name: br-ex-network
            model: virtio
            bridge: {}
          {% set bus_hex = '%02x' % (count + 1) %}
 #         {% set bus_hex = '%02x' % (count + 2) %}
  pciAddress: "0000:{{ bus_hex }}:00.0"
###################################
#{% if net_attach_def | default([]) | length > 0 and interface_names | default([]) | length > 0 and (net_attach_def | length == interface_names | length) %}
#          {% for i in range(net_attach_def | length) %}
#- name: {{ interface_names[i] }}
#            model: virtio
#            bridge: {}
#          {% endfor %}
#          {% endif %}
          
      networks:
      # default pod network
#      - name: default
#        pod: {}
#      - name: br-ex-network
#        multus:
#          networkName: telco-tiger/br-ex-network
      - name: {{ pxe_interface_name | split('/') | last }}
#      - name: br-isolated
        multus:
          networkName: {{ pxe_interface_name }}
#          networkName: telco-tiger/br-isolated
{% if net_attach_def | default([]) | length > 0 and interface_names | default([]) | length > 0 and (net_attach_def | length == interface_names | length) %}
      {% for i in range(net_attach_def | length) %}
- name: {{ interface_names[i] }}
        multus:
          networkName: {{ net_attach_def[i] }}
      {% endfor %}
      {% endif %}

      - name: {{ app_interface_name | split('/') | last }}
#      - name: br-ex-network
        multus:
          networkName: {{ app_interface_name }}
#{% if net_attach_def | default([]) | length > 0 and interface_names | default([]) | length > 0 and (net_attach_def | length == interface_names | length) %}
#      {% for i in range(net_attach_def | length) %}
#- name: {{ interface_names[i] }}
#        multus:
#          networkName: {{ net_attach_def[i] }}
#      {% endfor %}
#      {% endif %}
      
      volumes:
      - name: rootdisk
        dataVolume:
          name: {{ name }}

      rng: {}
      evictionStrategy: LiveMigrate
      terminationGracePeriodSeconds: 180
