apiVersion: kubevirt.io/v1
kind: VirtualMachine
metadata:
  annotations:
    vm.kubevirt.io/validations: |
      [
        {
          "name": "minimal-required-memory",
          "path": "jsonpath::.spec.domain.memory.guest",
          "rule": "integer",
          "message": "This VM requires more memory.",
          "min": 1610612736
        }
      ]
  labels:
    app: {{ name }}
    vm.kubevirt.io/template: rhel8-server-small
    vm-kubevirt.io/template.revision: "1"
    vm-kubevirt.io/template.version: v0.32.2
  name: {{ name }}
  namespace: {{ namespace }}
spec:
  running: false               # VM will not auto-start; change to true if desired
  template:
    metadata:
      annotations:
        vm.kubevirt.io/flavor: small
        vm.kubevirt.io/os: {{ name }}
        vm.kubevirt.io/workload: server
      labels:
        kubevirt.io/domain: {{ name }}
        kubevirt.io/size: small
    spec:
      architecture: amd64
      domain:
        cpu:
          cores: {{ vm_cpus_cores }}
          sockets: {{ vm_cpus_sockets }}
          threads: {{ vm_cpus_threads }}
        memory:
          guest: {{ vm_memory_requests }}
        devices:
          disks:
          - name: rootdisk
            disk:
              bus: virtio
          interfaces:
          # default pod network interface
          - name: default
            model: virtio
            masquerade: {}
{% if net_attach_def | default([]) | length > 0 and interface_names | default([]) | length > 0 and (net_attach_def | length == interface_names | length) %}
          {% for i in range(net_attach_def | length) %}
          - name: {{ interface_names[i] }}
            model: virtio
            bridge: {}
          {% endfor %}
          {% endif %}
      networks:
      # default pod network
      - name: default
        pod: {}
{% if net_attach_def | default([]) | length > 0 and interface_names | default([]) | length > 0 and (net_attach_def | length == interface_names | length) %}
      {% for i in range(net_attach_def | length) %}
      - name: {{ interface_names[i] }}
        multus:
          networkName: {{ net_attach_def[i] }}
      {% endfor %}
      {% endif %}
      volumes:
      - name: rootdisk
        emptyDisk:
          capacity: {{ boot_image_size }}

      rng: {}
      evictionStrategy: LiveMigrate
      terminationGracePeriodSeconds: 180
